.course {
  padding-top: 20vh;
  position: relative;
}

.course:before {
  content: '';
  display: block;
  background-image: url(../../../images/border_line.svg);
  block-size: 80px;
  inline-size: 100%;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-size: cover
}

.course__tags_green, .course__tags_blue {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  transform: rotate(var(--rotate-angle, 0));
}

.course__tags_green {
  background-color: var(--accent-green-color, #7cf652);
  --rotate-angle: -1deg;
  margin-top: 22px;
}

.course__tags_blue {
  background-color: var(--accent-blue-color, #7f47c7);
  --rotate-angle: 1deg;
}

.course__tags-container_green, .course__tags-container_blue {
  display: flex;
  gap: 10px;
  align-items: center;
  block-size: 50px;
}

.course__tags-container_blue {
  animation: scroll-right linear infinite;
}

.course__tags-container_green {
  animation: scroll-left linear infinite;
}

.tag {
  display: inline-block;
  font-size: 16px;
  background-color: white;
  border-radius: 4px;
  height: 40px;
  align-content: center;
  padding: 0 25px;
  font-weight: bold;
}

.course__content {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-inline: 6%;
  position: relative;
  padding-top: 40px;
  padding-bottom: 10vh;
}

.course__content::after {
  content: '';
  display: block;
  background-image: url(../../../images/pattern-bg-smile.png);
  background-size: contain;
  background-position: center;
  block-size: 105%;
  inline-size: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
}

@media (max-width: 811px) {

  .course__content {
    flex-direction: column;
  }
}

@media (min-width: 1591px) {

  .course__content {
    padding-left: calc(50vw - 700px);
    padding-right: calc(50vw - 700px);
  }
}

.course__name {
  margin-bottom: 50px;
}

.course__text-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.course__text-ol {
  line-height: 1.3rem;
}

.course__text-li::before {
  content: "•";
  margin-right: 10px;
  line-height: 1.4rem;
}

.authors__links-button {
  background-color: #7cf652;
}

.authors__links-button.btn:hover {
  color: white;
}

.authors__links-button.btn::after {
  background-color: #7f47c7;
}
