@import url("./features__info.css");
@import url("./features__sticker.css");

.features {
  display: flex;
  position: relative;
  margin-top: 30vh;
  padding-inline-start: 6%;
  padding-inline-end: 6%;
  gap: 20px;
  justify-content: space-between;
}


@media (max-width: 768px) {
  .features {
    flex-direction: column;
  }

  .features__info {
    order: 2;
  }

  .features__sticker-frame {
    order: 1;
  }
}

.features::before {
  content: "";
  display: block;
  position: absolute;
  top: -200px;
  left: 0;
  background-image: url("../../../images/border_line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  inline-size: 100%;
  block-size: 80px;
}

@media (min-width: 1591px) {
  .features {
    padding-left: calc(50vw - 700px);
    padding-right: calc(50vw - 700px);
  }
}
