.features__info {
  display: flex;
  flex-direction: column;
  gap: 35px;
  inline-size: 70%;
}

.features__info-body {
  display: flex;
  gap: 25px;
}

.features__info-img {
  inline-size: 100%;
  block-size: auto;
}

.features__info-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}

.features__info-li::before {
  content: "•";
  margin-right: 10px;
}

@media (max-width: 768px) {
  .features__info-body {
    flex-direction: column-reverse;
  }

  .features__info-img-container {
    inline-size: 60%;
    max-inline-size: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .features__info {
    inline-size: 100%;
  }

  .features__info-img {
    inline-size: 50%;
    block-size: auto;
  }
}
