.features__sticker-frame {
  position: relative;
  inline-size: 22%;
}

.features__sticker-frame::before {
  content: "";
  position: absolute;
  top: -37vh;
  left: -40px;
  background-image: url(../../../images/brain-dancing.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  inline-size: 100%;
  block-size: 100%;
  transform: translateX(var(--horizontal-shift, 0)); /* Применяем смещение */
  transition: transform 0.1s ease-out; /* Можно добавить плавный переход */
}

@media (max-width: 768px) {

  .features__sticker-frame {
    inline-size: 80%;
    max-inline-size: 300px;
    padding-bottom: 40px;
  }

  .features__sticker-frame::before {
    top: -20vh;
    inline-size: 70%;
    block-size: 70%;
  }
}

.features__sticker-frame-text {
  font-size: 0.9rem;
}

.features__sticker-frame-button {
  margin-top: 20px;
  background-color: var(--accent-blue-color, #7f47c7);
}

.features__sticker-frame-button.btn {
  color: white;
}

.features__sticker-frame-button.btn:hover {
  color: black; /* Изменение цвета текста при наведении */
}

.features__sticker-frame-button.btn::after {
  background-color: var(--accent-green-color, #7cf652);
}
