.authors__links {
  display: flex;
  gap: 20px;
}

.authors__links-button {
  background-color: #7cf652;
}

.authors__links-button.btn {
  color: whitblacke;
}

.authors__links-button.btn:hover {
  color: white;
}

.authors__links-button.btn::after {
  background-color: #7f47c7;
}

@media (max-width: 768px) {
  .authors__links {
    flex-direction: column;
    margin: auto;
    inline-size: 60%;
    min-inline-size: 280px;
  }
}