.authors__images {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
}

.authors__images-img_ks {
  position: relative;
  transform: rotate(-8deg);
  margin-left: 15%;
  z-index: 3;
  inline-size: 70%;
  block-size: auto;
}

.authors__images-img_eug {
  position: relative;
  transform: rotate(10deg);
  left: -40%;
  inline-size: 70%;
  block-size: auto;
}
