.authors__text {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.authors__text-description {
  display: flex;
  flex-direction: column;
}

.authors__text-paragraph {
  margin-bottom: 15px;
}
