:root {
  --accent-green-color: #7cf652;
  --accent-blue-color: #7950ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.page {
  margin: 0 auto;
  min-inline-size: 320px;
  min-block-size: 100vh;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
  font-size: clamp(1rem, 0.9515rem + 0.2071vw, 1.2rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ol, li, ul {
  list-style: none;
}

h1 {
  font-size: clamp(3rem, 2.7573rem + 1.0356vw, 4rem);
}

h2 {
  font-size: clamp(2rem, 1.7573rem + 1.0356vw, 3rem);
}

h3 {
  font-size: clamp(1rem, 0.9515rem + 0.2071vw, 1.2rem);
}

p,
span {
  line-height: 1.3rem;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
}