.name-animated {
  position: relative;
  display: inline-block;
  overflow: hidden;
  inline-size: fit-content;
}

.name-animated::before {
  position: absolute;
  bottom: 0;
  left: -100%;
  z-index: -1;
  background: linear-gradient(90deg, rgb(127 71 199 / 0.5), rgb(124 246 82 / 0.5));
  content: "";
  inline-size: 100%;
  block-size: 50%;
  transition: left 1s ease-in-out;
}

.name-animated.active::before {
  left: 0;
}
