.footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 65px 0 45px;
    color: white;
    flex-direction: column;
    background-image: url(../../images/footer-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 3px;
}
