.about__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__description_title {
  font-style: italic;
}

@media (max-width: 811px) {

  .about__description {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
