@import url("./book-img/book-animated.css");
@import url("./about__authors.css");
@import url("./about__description.css");
@import url("./about__name.css");

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 23%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "name name name"
    "img description author"
    "img description link-btn";
  gap: 3%;
  padding-inline-start: 6%;
  padding-inline-end: 6%;
  position: relative;
}

.about::before {
  content: "";
  background-image: radial-gradient(
    circle closest-side,
    var(--accent-green-color, #7cf652),
    transparent
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  z-index: -1;
  left: -50%;
  overflow: visible;
}

.about::after {
  content: "";
  background-image: radial-gradient(
    circle closest-side,
    var(--accent-blue-color, #7f47c7),
    transparent
  );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  inline-size: 100%;
  block-size: 100%;
  z-index: -1;
  top: -40%;
  left: 50%;
  overflow: visible;
}

@media (min-width: 1591px) {
  .about {
    padding-left: calc(50vw - 700px);
    padding-right: calc(50vw - 700px);
  }
}

.about__name {
  grid-area: name;
}

.animated-wrapper {
  grid-area: img;
}

.about__description {
  grid-area: description;
}

.about__authors {
  grid-area: author;
}

.about_link-button {
  grid-area: link-btn;
}

.about_link-button {
  justify-self: center;
  align-self: start;
  background-color: var(--accent-green-color, #7cf652);
}

.about_link-button.btn {
  color: black;
}

.about_link-button.btn:hover {
  color: white;
}

.about_link-button.btn::after {
  background-color: var(--accent-blue-color, #7f47c7);
}

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }

  .animated-wrapper {
    inline-size: 100%;
    align-self: center;
    perspective: 200vw;
  }

  .about_link-button {
    margin: auto;
  }
}