@import url(./book-img/book-animated.css);

@import url(./about__authors.css);

@import url(./about__description.css);

@import url(./about__name.css);

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 23%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "name name name"
    "img description author"
    "img description link-btn";
  gap: 3%;
  padding-inline-start: 6%;
  padding-inline-end: 6%;
  padding-block-start: 5%;
  padding-block-end: 10%;
  position: relative;
  background: linear-gradient(90deg, rgb(127 71 199 / 0.6) 0%, rgb(244 54 248 / 0.6) 34%, rgb(70 255 255 / 0.6) 67%, rgb(124 246 82 / 0.6) 97.5%);
}

.about::before,
.about::after {
  content: "";
  background-image: url(../../../images/border-circle-white.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 55px;
}

.about::before {
  bottom: 97.5%;
}

.about::after {
  top: 97.5%;
}

/*.about::before {*/
/*  content: "";*/
/*  background-image: radial-gradient(*/
/*    circle closest-side,*/
/*    var(--accent-green-color, #7cf652),*/
/*    transparent*/
/*  );*/
/*  background-size: cover;*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  display: block;*/
/*  position: absolute;*/
/*  inline-size: 100%;*/
/*  block-size: 100%;*/
/*  z-index: -1;*/
/*  left: -50%;*/
/*}*/

@media (min-width: 1591px) {

  .about {
    padding-left: calc(50vw - 700px);
    padding-right: calc(50vw - 700px);
  }
}

.about__name {
  grid-area: name;
}

.animated-wrapper {
  grid-area: img;
}

.about__description {
  grid-area: description;
}

.about__authors {
  grid-area: author;
}

.about_link-button {
  grid-area: link-btn;
  justify-self: center;
  align-self: start;
  background-color: var(--accent-green-color, #7cf652);
}

.about_link-button.btn {
  color: black;
}

.about_link-button.btn:hover {
  color: white;
}

.about_link-button.btn::after {
  background-color: var(--accent-blue-color, #7f47c7);
}

@media (max-width: 811px) {

  .about {
    display: flex;
    flex-direction: column;
    gap: 5%;
  }

  .about::before {
    bottom: 99%;
  }

  .about::after {
    top: 99%;
  }

  .animated-wrapper {
    inline-size: 100%;
    align-self: center;
    perspective: 200vw;
  }

  .about_link-button {
    margin: auto;
  }
}