.about__authors {
  display: flex;
  flex-direction: column;
}

.about__authors-text-container {
  inline-size: 80%;
  margin: 0 auto;
}

.about__authors-name {
  font-size: 1rem;
}

.about__authors-description {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

@media (max-width: 811px) {

  .about__authors {
    padding-bottom: 50px;
  }

  .about__authors-image {
    inline-size: 85%;
    margin: auto;
  }

  .about__authors-text-container {
    inline-size: 85%;
  }
}
