@import url(./header__logo.css);

@import url(./header__nav.css);

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 3vh;
  padding-inline: 6%;
  block-size: fit-content;
}

@media (width >= 1591px) {

  .header {
    padding-left: calc(50vw - 700px);
    padding-right: calc(50vw - 700px);
  }
}