.header-btn.burger-menu {
  display: none;
  background-image: url(../../images/burger-btn.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  inline-size: 24px;
  block-size: 24px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.header-btn.burger-menu.active {
  transform: rotate(90deg);
}

.header__nav-list {
  display: flex;
  gap: 15px;
  list-style: none;
}

.header__nav-item {
  transition: all 0.1s ease-in-out;
  border-bottom: 3px solid transparent;
}

.header__nav-item:hover {
  border-bottom: 3px solid var(--accent-green-color, #7cf652);
}

@media (max-width: 768px) {

  .header-btn.burger-menu {
    display: block;
  }

  .header__nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    opacity: 0;
    top: 100%;
    right: 6%;
    z-index: 1;
    inline-size: 150px;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px var(--accent-blue-color, #7950ff);
    text-align: end;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;
  }

  .header__nav-list.active {
    display: flex;
    opacity: 1;
    padding-inline-end: 20px;
    transform: translateX(0);
  }
}
