@import url("./popupImage.css");
@import url("./quotes__name.css");
@import url("./quotes__pages.css");

.quotes {
  background: linear-gradient(90deg, #7f47c7, #f436f8, #46ffff, #7cf652);
  position: relative;
  margin-top: 13vh;
  padding-inline-start: 2%;
  padding-inline-end: 2%;
}

.quotes::before,
.quotes::after {
  content: "";
  background-image: url("../../../images/border-circle-white.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 55px;
  overflow-x: hidden;
}

.quotes::before {
  bottom: 97%;
}

.quotes::after {
  top: 97%;
}

